<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CloudQuote</title>
  <!-- Le styles -->
  <link rel="stylesheet" href="<% request.uri_base %>/stylesheets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="<% request.uri_base %>/stylesheets/custom.css">
</head>
<body>

  <div class="container">

    <header>
      <h1>CloudQuote</h1>
    </header>

    <% content %>

  </div> <!-- /container -->


  <!-- Le scripts -->
  <script src="<% request.uri_base %>/javascripts/vendor/jquery-1.8.2.js"></script>

  <script src="<% request.uri_base %>/javascripts/vendor/lodash.min.js"></script>
  <script src="<% request.uri_base %>/javascripts/vendor/backbone.js"></script>

  <script src="<% request.uri_base %>/javascripts/vendor/dust-full-1.1.1.js"></script>

  <script src="<% request.uri_base %>/javascripts/app.js"></script>

</body>
</html>
